@using Microsoft.Practices.Unity;
@using Microsoft.Practices.Unity.Configuration;
@using Microsoft.AspNet.Identity

@model BeYourMarket.Web.Models.PaymentModel

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
}

@{
	ViewBag.Title = "ConfirmOrder";
	var pasajeros = Model.ListingOrder.Adults.Value + Model.ListingOrder.Children.Value;
	var servicio = (Model.ListingOrder.Price) * 0.04;
}
<img src="~/Images/logosintexto.png" style="text-align: left; width: 100px; height: 100px" class="img-rounded img-responsive" />
<h1 style="text-align:center">[[[Confirm your reservation request]]]</h1>

<body>
    <div class="panel panel-default" style="width: 70%; margin-left: 15%">
        <div class="panel-heading form-group">
            <div><label class="panel-title"> Cod Propiedad: @Model.ListingOrder.ListingID</label></div>
        </div>
        <div class="panel panel-body">
            <table class="table table-responsive">
                <tr>
                    <td>Desde:</td>
                    <td>Hasta: </td>
                    <td>Pasajeros:</td>
                    <td>Adultos:</td>
                    <td>Niños:</td>
                </tr>
                <tr>
                    <td>@Model.ListingOrder.FromDate.Value.ToShortDateString()</td>
                    <td>@Model.ListingOrder.ToDate.Value.ToShortDateString()</td>
                    <td>@pasajeros</td>
                    <td>@Model.ListingOrder.Adults.Value</td>
                    <td>@Model.ListingOrder.Children.Value</td>
                </tr>
            </table>
        </div>
        <div class="panel-body alert-info" style="text-align: center">
            <div class="panel form-inline">
                <table class="table">
                    <tr>
                        <td>
                            Arriendo <i class="glyphicon glyphicon-question-sign" id="qstArriendo"></i>:
                        </td>
                        <td>
                            CLP $@Model.ListingOrder.Price
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Servicio <i class="glyphicon glyphicon-question-sign" id="qstArriendo"></i>:
                        </td>
                        <td>
                            CLP $@servicio
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aseo <i class="glyphicon glyphicon-question-sign" id="qstArriendo"></i>:
                        </td>
                        <td>
                            CLP $@Model.ListingOrder.Listing.CleanlinessPrice
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total <i class="glyphicon glyphicon-question-sign" id="qstArriendo"></i>:
                        </td>
                        <td>
                            CLP $@Model.ListingOrder.Total
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel-body alert-link" style="text-align: center">
            <div class="panel-title form-inline">
                <div></div>
            </div>
        </div>
        <div class="panel-body alert-link" style="text-align: center">
            <div class="panel-title form-inline">
                <div><input class="checkbox" style="display:initial; margin-right: 10px" type="checkbox" onclick="ActivarBoton()" id="chkActivar" />Declaro y acepto las normas de la casa, capacidad máxima de pasajeros y las condiciones referidas al deposito de seguridad.</div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="text-center">
                        @using (Html.BeginForm("ConfirmOrderAction", "Payment", new { id = Model.ListingOrder.ID, niños = Model.ListingOrder.Children, adultos = Model.ListingOrder.Adults }, FormMethod.Post, new { role = "form", id = "confirmForm", name = "confirmForm" }))
                        {
                            <div class=""><button class="btn btn-lg btn-success" type="submit" id="btnConfirm" disabled>Confirmar</button></div>
                        }
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("CancelOrderAction", "Payment", new { id = Model.ListingOrder.ID }, FormMethod.Post, new { role = "form", id = "cancelForm", name = "cancelForm" }))
                        {
                            <div class=""><button class="btn btn-lg btn-danger" type="submit">Cancelar</button></div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*<div id="pop-up" hidden>
            <h3>Pop-up div Successfully Displayed</h3>
            <p>
                This div only appears when the trigger link is hovered over.
                Otherwise it is hidden from view.
            </p>
        </div>*@
</body>

<script type="text/javascript">
    var actionButton = false;
    function ActivarBoton() {
        if (chkActivar.checked) {
            $('#btnConfirm').attr('disabled', false);
        }
        else {
            $('#btnConfirm').attr('disabled', true);
        }
    }
    $('#confirmForm').submit(function (event) {
        actionButton = true;
        //event.preventDefault();
    });
    $('#cancelForm').submit(function (event) {
        actionButton = true;
        //event.preventDefault();
    });

    window.onbeforeunload = function () {
        if (!actionButton) {
            return "¿Estás seguro que deseas salir de la actual página?"
        }
    }
    window.onunload = function () {
        if (!actionButton) {
            $.post('@Url.Action("DeleteOrder", "Payment", new { id = Model.ListingOrder.ID })', function (data) {
                console.log(data);
            });
        }
    }
</script>