@model BeYourMarket.Web.Models.ListingUpdateModel

@{
    ViewBag.Title = "[[[Listing Update]]]";
}

@section Styles {
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div class="wraper container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">[[[Listing Update]]]</h3></div>
                <div class="panel-body">
                    <form action="@Url.Action("ListingUpdate", "Listing")" id="listngUpdateForm" method="post" class="form-horizontal" role="form" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">
                        @Html.Partial("_UserMessage")
                        @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })

                        @Html.HiddenFor(x => x.ListingItem.ID)
                        @if (Model.ListingItem.ID != 0)
                        {
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">@Model.ListingItem.ID</p>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[Category]]]<span class="text-red">*</span></label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "ID", "Name", Model.ListingItem.CategoryID), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[Type]]]<span class="text-red">*</span></label>
                            <div class="col-md-10">
                                @Html.DropDownList("TypeOfProperty",
                                         new[]
                                         {
                                              new SelectListItem{ Value = "Departamento", Text = "[[[Aparment]]]" },
                                                new SelectListItem{ Value = "Casa", Text = "[[[Home]]]" },
                                                new SelectListItem { Value = "Cabana", Text = "[[[Cabin]]]" },
                                                new SelectListItem { Value = "Otro", Text = "[[[Other]]]" }
                                         },
                                          new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[Description]]]</label>
                            <div class="col-md-10">
                                <textarea class="form-control input-lg" rows="4" placeholder="Description..." id="Description" name="Description" required>@Model.ListingItem.Description</textarea>
                            </div>
                        </div>

                        @*<div class="form-group">
                        <label class="col-md-2 control-label">[[[Contact Name]]]</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="ContactName" name="ContactName" value="@Model.ListingItem.ContactName" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">[[[Contact Email]]]</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="ContactEmail" name="ContactEmail" value="@Model.ListingItem.ContactEmail" required data-rule-email="true">
                        </div>
                    </div>*@

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[User]]]</label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.UserID, new SelectList(Model.Users, "Id", "Email", Model.ListingItem.UserID), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[Price]]]</label>
                            <div class="col-md-10">
                                <input type="number" min="0" class="form-control" id="Price" name="Price" value="@Model.ListingItem.Price" data-rule-number="true" data-rule-min="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">[[[Max. passenger capacity]]]<span class="text-red">*</span></label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" min="0" id="Max_Capacity" name="Max_Capacity" value="@Model.ListingItem.Max_Capacity" data-rule-number="true" data-rule-min="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">[[[IP]]]</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">@Model.ListingItem.IP</p>
                            </div>
                        </div>

                        @*Camas*@
                        <div id="panel" class="panel panel-success">

                            <div class="panel-default text-center">

                                <div class="form-group">
                                    <div class="alert alert-info" role="alert">Agrega camas de tu propiedad</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tr>
                                            <td>@Html.DropDownListFor(m => m.TypesOfBeds, new SelectList(Model.TypesOfBeds, "ID", "Name"), new { @class = "form-control" })</td>
                                            <td><input type="text" onfocus="this.type='number'" id="cantidadcama" name="cantidadcama" min="0" max="15" placeholder="Cantidad" class="form-control" /></td>
                                            <td><button type="button" id="add" name="add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="table-responsive">
                                    <table id="tabla" class="table table-condensed table-striped">
                                        <thead>
                                            <tr class="bg-success">

                                                <th>#</th>
                                                <th>#Id cama</th>
                                                <th>[[[Size]]]</th>
                                                <th>[[[Quantity]]]</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>

                                    </table>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-md-3">[[[Total Beds]]]</label>
                                    <input type="text" class="form-control input-lg col-md-9" onfocus="this.type='number'" id="Beds" name="Beds" value="@Model.ListingItem.Beds" readonly="readonly" required>
                                </div>
                            </div>
                        </div>
                    @*Camas*@
                    
                    @*Detalles*@
                        <div class="panel panel-default" style="padding-left: 50px">
                            <div class="panel-heading"><h4 class="panel-title text-left">[[[Detalles]]]</h4></div>
                            <div class="panel-body">
                                <div class="form-group col-md-4">
                                    <label>[[[Rooms]]] <span class="text-red">*</span></label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 3" onfocus="this.type='number'" id="Rooms" name="Rooms" value="@Model.ListingItem.Rooms" required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Rooms Suite]]]</label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 0" onfocus="this.type='number'" id="Suite" name="Suite" value="@Model.ListingItem.Suite">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[M2]]]</label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 100" onfocus="this.type='number'" id="M2" name="M2" value="@Model.ListingItem.M2">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Bathrooms]]] <span class="text-red">*</span></label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 2" onfocus="this.type='number'" id="Bathrooms" name="Bathrooms" value="@Model.ListingItem.Bathrooms" required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Cellars]]]</label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 0" onfocus="this.type='number'" id="Cellar" name="Cellar" value="@Model.ListingItem.Cellar">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Parking Lot]]] <span class="text-red">*</span></label>
                                    <input type="text" class="form-control input-lg" placeholder="[[[Ej: 1]]]" onfocus="this.type='number'" id="ParkingLot" name="ParkingLot" value="@Model.ListingItem.ParkingLot" required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Floor Number]]]</label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 4" onfocus="this.type='number'" id="FloorNumber" name="FloorNumber" value="@Model.ListingItem.FloorNumber">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Number of parking]]]</label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 26A" id="NroOfParking" name="NroOfParking" value="@Model.ListingItem.NroOfParking ">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>[[[Number of TV]]] <span class="text-red">*</span></label>
                                    <input type="text" class="form-control input-lg" placeholder="Ej: 3" onfocus="this.type='number'" id="TV" name="TV" value="@Model.ListingItem.Tv">
                                </div>
                            @*Detalles*@

                            @*Radio buttons*@

                                <div class="panel-success" style="padding-left: 100px">
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="Dishwasher" name="Dishwasher" type="checkbox" value="true" @(Model.ListingItem.Dishwasher ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[Dish washer]]]
                                        </label>
                                    </div>

                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="Washer" name="Washer" type="checkbox" value="true" @(Model.ListingItem.Washer ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[Washer]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="Grill" name="Grill" type="checkbox" value="true" @(Model.ListingItem.Grill ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[Grill]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="Terrace" name="Terrace" type="checkbox" value="true" @(Model.ListingItem.Terrace ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[Terrace]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="SafetyMesh" name="SafetyMesh" type="checkbox" value="true" @(Model.ListingItem.SafetyMesh ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[Safety Mesh]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="Wifi" name="Wifi" type="checkbox" value="true" @(Model.ListingItem.Wifi ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[WIFI]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="FirstLine" name="FirstLine" type="checkbox" value="true" @(Model.ListingItem.FirstLine ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[First Line]]]
                                        </label>
                                    </div>
                                    <div class="form-group col-md-offset-2 col-md-3">
                                        <label class="cr-styled">
                                            <input id="TV_cable" name="TV_cable" type="checkbox" value="true" @(Model.ListingItem.TV_cable ? "checked" : "")>
                                            <i class="fa"></i>
                                            [[[TV cable]]]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    @*Radio buttons*@

                <div class="form-group" hidden>
                    <label class="col-md-2 control-label">[[[Created]]]</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control datepicker" id="Created" name="Created" value="@Model.ListingItem.Created.ToShortDateString()">
                    </div>
                </div>

                <div class="form-group" hidden>
                    <label class="col-md-2 control-label">[[[Last Updated]]]</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control datepicker" id="LastUpdated" name="LastUpdated" value="@Model.ListingItem.LastUpdated.ToShortDateString()">
                    </div>
                </div>

                        <div class="form-group" style="padding-left: 410px">
                                <div class="form-group col-md-offset-2 col-md-3">
                                    <label class="cr-styled">
                                        <input id="Active" name="Active" type="checkbox" value="true" checked="@Model.ListingItem.Active">
                                        <i class="fa"></i>
                                        [[[Active]]]
                                    </label>
                                </div>

                                <div class="form-group col-md-offset-2 col-md-3">
                                    <label class="cr-styled">
                                        <input id="Enabled" name="Enabled" type="checkbox" value="true" checked="@Model.ListingItem.Enabled">
                                        <i class="fa"></i>
                                        [[[Enabled]]]
                                    </label>
                                </div>
                        </div>

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="cr-styled">
                            <input id="Premium" name="Premium" type="checkbox" value="true" checked="@Model.ListingItem.Premium">
                            <i class="fa"></i>
                            [[[Premium]]]
                        </label>
                    </div>
                </div>*@

                <fieldset>
                    <legend>[[[Upload Pictures]]]</legend>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="target">
                                <input id="files" name="files" type="file" class="file-loading" multiple>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>[[[Location]]]</legend>
                    <div class="form-group">
                        <label class="col-md-2">[[[Location]]]</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control input-lg" placeholder="[[[Enter Location]]]" id="Location" name="Location" value="@Model.ListingItem.Location">
                        </div>
                    </div>

                    <input type="hidden" id="Longitude" name="Longitude" value="@Model.ListingItem.Longitude" />
                    <input type="hidden" id="Latitude" name="Latitude" value="@Model.ListingItem.Latitude" />

                    <div class="col-md-offset-2 col-md-10">
                        <div class="form-group">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                </fieldset>

                <div id="partialPlaceHolder">
                    @Html.Partial("_CategoryCustomFields", Model.CustomFields)
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" id="botonfinal" type="submit" onclick="antesdesubmit()"><i class="fa fa-save"></i> [[[Save]]]</button>
                        <a href="@Url.Action("Listings", "Listing")" class="btn btn-default"><i class="fa fa-remove"></i> [[[Cancel]]]</a>
                    </div>
                </div>
                        <div class="modal fade bs-example-modal-sm" id="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog" style="padding-top:20%;" role="document">
                                <div class="modal-content" style="padding:5px;">
                                    <p style="font-size:large;">Porfavor, ingresar cantidad de camas.</p>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/fileinput.min.js"></script>
    @Html.Partial("_LocalizationFileInput")

    <script type="text/javascript">
        @{
            var preview = new System.Text.StringBuilder();
            var previewDelete = new System.Text.StringBuilder();

            foreach (var picture in Model.Pictures)
            {
                preview.AppendFormat(@"'<img src=""{0}"" class=""file-preview-image"">',", picture.Url);
                previewDelete.AppendFormat(@"{{url: '{0}',key: {1} }},", Url.Action("ListingPhotoDelete", "Listing", new { id = picture.ID }), picture.ID);
            }
        }

    var $input = $("#files");

    $input.fileinput({
        uploadAsync: false,
        showCaption: false,
        showRemove: false,
        showUpload: false,
        maxFileCount: 50,
        overwriteInitial: false,
        initialPreview: [
                @Html.Raw(preview.ToString())
        ],
        initialPreviewConfig: [
            @Html.Raw(previewDelete.ToString())
            ],
            maxFileSize: 10000,
            browseClass: "btn btn-primary",
            allowedFileTypes: ["image"],
            language: '@Context.GetPrincipalAppLanguageForRequest().ToString()'
        });

        $("#CategoryID").change(function () {
            /* Get the selected value of dropdownlist */
            var selectedID = $(this).val();
            var listingID = $("#ListingItem_ID").val();

            /* Request the partial view with .get request. */
            $.get('@Url.Action("ListingPartial", "Listing")?categoryID=' + selectedID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#partialPlaceHolder').html(data);
            /* little fade in effect */
            $('#partialPlaceHolder').fadeIn('fast');
        });


        $.get('@Url.Action("ListingTypesPartial", "Listing")?categoryID=' + selectedID + '&listingID=' + listingID, function (data) {

            /* data is the pure html returned from action method, load it to your page */
            $('#listingTypesPlaceHolder').empty();
            $('#listingTypesPlaceHolder').html(data);
            /* little fade in effect */
            $('#listingTypesPlaceHolder').fadeIn('slow');
            $('#listingTypesPlaceHolder').addClass('fadeIn animated');
        });
        });

        $(document).ready(function(){
            if($('#Beds').val(''))
            {
                $('#Beds').val('0');
            }
            var idparcial = 0;
            /**
             * Funcion para añadir una nueva columna en la tabla
             */
            $("#add").click(function(){

                if($("#tabla tbody tr").length==0)
                {
                    idparcial=0;
                }

                var cantidad = $('#cantidadcama').val();

                if(cantidad == '')
                {
                    $('#modal').modal('show');
                    $('#cantidadcama').focus();
                    return false;
                }

                if(cantidad < 0 || cantidad > 15)
                {
                    return false;
                }



                var edito=0;
                var tds=$("#tabla tr:first td").length;
                var trs=$("#tabla tr").length;
                var nuevaFila="<tr>";
                var idcama = $('#TypesOfBeds').val();
                var nombrecama = $('#TypesOfBeds option:selected').html();

                $('#tabla tbody tr').each(function() {
                    var idcamatabla = $(this).find("td").eq(1).html();
                    if(idcama==idcamatabla)
                    {
                        $(this).find("td").eq(3).text(parseInt($(this).find("td").eq(3).html()) + parseInt(cantidad));                    
                        edito=1;
                    }
                });
                if(edito==1)
                {    
                    var totalcama =0;
                    $('#tabla tbody tr').each(function() {              
                        totalcama += parseInt($(this).find("td").eq(3).html());               
                    });
                    $('#Beds').val(totalcama);


                    $('#cantidadcama').val('');
                    return false;
                }
                   
                nuevaFila+="<td>"+ idparcial +"</td>";                    
                nuevaFila+="<td>"+ idcama +"</td>";
                nuevaFila+="<td>"+ nombrecama +"</td>";
                nuevaFila+="<td>"+ cantidad +"</td>";
                nuevaFila+="<td><button type='button' onclick='eliminar("+idparcial+");' class='btn btn-danger btn-sm' id="+idparcial+"><span class='glyphicon glyphicon-remove'></span></button></td>"
                idparcial++;
                nuevaFila+="</tr>";
                $("#tabla").append(nuevaFila);
        
                $('#cantidadcama').val('');
                $('#TypesOfBeds').val(1);
                ModificarTotal();

            });



        });
        function ModificarTotal()
        {
            var totalcama =0;
            $('#tabla tbody tr').each(function() {              
                totalcama += parseInt($(this).find("td").eq(3).html());               
            });
            $('#Beds').val(totalcama);
        }

        function eliminar(id)
        {
            $('#tabla tbody tr').each(function() {
                var idparcial = $(this).find("td").eq(0).html();
                console.log(idparcial + "  " + id);
                if(idparcial==id)
                {
                    $(this).remove()
                }
            });
            var totalcama =0;
            $('#tabla tbody tr').each(function() {              
                totalcama += parseInt($(this).find("td").eq(3).html());               
            });
            $('#Beds').val(totalcama);
            //document.getElementById("tabla").deleteRow(id);
        }



        function antesdesubmit()
        {
            if($('#tabla tbody tr').length>0)
            {

                $('#tabla tbody tr').each(function() {              
                    var cantidad=parseInt($(this).find("td").eq(3).html());   //totalCama 
                    var idcama=parseInt($(this).find("td").eq(1).html());   //idcama 
                    $('#tabla tbody').prepend("<input type='hidden' id='idcama' name='idcama' value='"+idcama+"' />");
                    $('#tabla tbody').prepend("<input type='hidden' id='cantidad' name='cantidad' value='"+cantidad+"' />");
                    //document.getElementById("listingUpdateForm").submit();
                    $("#botonfinal").submit();
                });
            }
            else
            {
                $("#panel").css("border","1px solid #f00");
                $("#cantidadcama").focus();
            }
        }
    </script>

    <script>
        //https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete
        //https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse
        function initMap() {
            var isDraggable = $(document).width() > 480 ? true : false; // If document (your website) is wider than 480px, isDraggable = true, else isDraggable = false

            var mapOptions = {
                draggable: isDraggable,
                scrollwheel: false, // Prevent users to start zooming the map when scrolling down the page
                zoom: 14,
                center: new google.maps.LatLng(-33.8688, 151.2195),
            };

            @{ var hasLatLng = @Model.ListingItem.Latitude.HasValue && @Model.ListingItem.Longitude.HasValue; }
            var hasLatLng = @hasLatLng.ToString().ToLowerInvariant();

            @if (hasLatLng){
                <text>
            mapOptions = {
                center: new google.maps.LatLng(@Model.ListingItem.Latitude.Value.ToString(System.Globalization.CultureInfo.InvariantCulture), @Model.ListingItem.Longitude.Value.ToString(System.Globalization.CultureInfo.InvariantCulture)),
                zoom: 14
            };
            </text>
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);

            @if (hasLatLng){
                <text>
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@Model.ListingItem.Latitude, @Model.ListingItem.Longitude),
                map: map
            });

            marker.setVisible(true);
            </text>
            }

            geocoder = new google.maps.Geocoder();

            var input = (document.getElementById('Location'));

            // Try HTML5 geolocation
            if (@Model.ListingItem.ID == 0){
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = new google.maps.LatLng(position.coords.latitude,
                                                         position.coords.longitude);


                        geocoder.geocode({ 'latLng': pos }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[1]) {
                                    map.setZoom(14);
                                    map.setCenter(pos);

                                    marker = new google.maps.Marker({
                                        position: pos,
                                        map: map,
                                        content: results[1].formatted_address
                                    });
                                    infowindow.setContent(results[1].formatted_address);
                                    infowindow.open(map, marker);

                                    $('#Location').val(results[1].formatted_address);
                                    $('#Latitude').val(pos.lat());
                                    $('#Longitude').val(pos.lng());                                    

                                } else {
                                    alert('No results found');
                                }
                            } else {
                                alert('Geocoder failed due to: ' + status);
                            }
                        });
                    }, function () {
                        handleNoGeolocation(true);
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleNoGeolocation(false);
                }
            }

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                // Set lat/long
                $('#Latitude').val(place.geometry.location.lat());
                $('#Longitude').val(place.geometry.location.lng());

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(12);
                }
                marker.setIcon(({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                      (place.address_components[0] && place.address_components[0].short_name || ''),
                      (place.address_components[1] && place.address_components[1].short_name || ''),
                      (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });

            google.maps.event.addDomListener(input, 'keydown', function (e) {
                if (e.keyCode == 13) {
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    else {
                        // Since the google event handler framework does not handle
                        e.cancelBubble = true;
                        e.returnValue = false;
                    }
                }
            });

        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: The Geolocation service failed.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }

            var options = {
                map: map,
                position: new google.maps.LatLng(60, 105),
                content: content
            };

            var infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);
        }        
    </script>
}

